header {
    height: 80px;
    background-color: #2C3E50;
}

header .row > div {
    /* DEBUG */
    height: 80px;
    border: 1px solid white;
     /* /DEBUG */
}

.ms_title-logo {
    font-size: 15px;
    font-weight: 600;
}

/* JAMBOTRON */
.jambotron {
    background-color: #1ABC9C;
}


.ms_avatar {
    width: 200px;
}

.ms_line {
    display: inline-block;
    height: 4px;
    width: 60px;
    margin: 3px 20px;
    border-radius: 15px;
    background: white;
}
/* /JAMBOTRON */

/* PORFOGLIO */
section.porfoglio .ms_line {
    background: black;
}

.ms_img-col {
    width: 100%;
}
/* /PORFOGLIO */

/* SECTION ABOUT US */
section.about {
    background-color: #1ABC9C;
    /* debag */
}

/* container about us */
.ms_container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
}

/* /SECTION ABOUT US */

/* SECTION CONTACT */
section.contactme .ms_line {
    background: black;
}

.ms_border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;
}

.ms_padding {
    padding: 30px 0;
}

.ms_colorbtn {
    background-color: #1ABC9C;
    border: 0;
}
/* /SECTION CONTACT */

/* SECTION INFO */
section.info {
    background-color: #3A546D;
}

section.info .ms_card {
    padding: 20px 0;

}

.ms_circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    line-height: 27px;
}

.ms_colortext {
    color: #1ABC9C;
}

/* /SECTION INFO */

/* FOOTER */
footer{
    background-color: #2C3E50;
    text-align: center;
    color: white;
    font-size: 12px;
}
/* /FOOTER */


