header {
    height: 80px;
    background-color: #2C3E50;
}

header .row > div {
    /* DEBUG */
    height: 80px;
    border: 1px solid white;
     /* /DEBUG */
}

.jambotron {
    /* DEBUG */
    height: 300px;
    background-color: #1ABC9C;
}

.content {
    /* debug */
    border: 1px solid white;

}

section.porfoglio .ms_card {
    /* debug */
    height: 200px;
}

.ms_bordeaux {
    background-color: #BA4B63;
}

.ms_indaco {
    background-color: #1EA4B6;
}

.ms_black {
    background-color: #140F0F;
}

.ms_lightblue {
    background-color: #1C83C1;
}

.ms_blue {
    background-color: #0E38B5;
}

.ms_lightpastel {
    background-color: #CCB2A3;
}

/* SECTION ABOUT US */
section.about {
    background-color: #1ABC9C;
    /* debag */
}

/* container about us */
.ms_container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid white;
}

.ms_border {
    border: 1px solid white;
    height: 200px;
}
/* /SECTION ABOUT US */

/* SECTION CONTACT */
section.contactme {
    /* debug */
    height: 300px;
}
/* /SECTION CONTACT */

/* SECTION INFO */
section.info {
    background-color: #3A546D;
}
section.info .ms_card {
    height: 200px;
    border: 1px solid white;
}
/* /SECTION INFO */

/* FOOTER */
footer{
    background-color: #2C3E50;
    text-align: center;
    color: white;
    font-size: 12px;
}
/* /FOOTER */


